<div class="row discount-block">
{% for discount in discounts %}
    <div class="col-sm-4 col-xs-6">
        <label for="p-discount-price" class="discount-text">
            {% if discount.next_group_value != false %}
                {{ discount.group_value }} - {{ discount.next_group_value }} {{ discount.formatted_type }}
            {% else %}
                >= {{ discount.group_value }} {{ discount.formatted_type }}
            {% endif %}
        </label>
        <p id="p-discount-price">{{ discount.formatted_price }}</p>
    </div>
{% endfor %}
</div>